
header {
    background: url("./image/items/wall1.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
    height: 500px;
}


body {
    font-family: 'Mali', cursive;
    font-size: 5px;
    color: #272323;
    background-image: url("./image/items/background.jpg");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #272323;
}

html  {
    scroll-behavior: smooth;
}

.rd {
    border-radius: 20px;
}

.mtop {
    margin-top: 130px;
}

.mtop-sm {
    margin-top: 40px;
}

.mbot {
    margin-bottom: 50px;
}

.mbot-sa {
    margin-bottom: 25px;
}

.mbot-sm {
    margin-bottom: 20px;
}

.rounded {
    border-radius: 30px 30px 30px 30px;
}

.textJustify {
    text-align: justify;
}

.top-Block {
    width: 1200px;
    margin: 0px auto 0px auto;
}

.sub-BloclSize {
    width: 580px;
    float: left;
    padding: 10px;
}

.imgsize {
    height: 300px;
    width: 100%;
}

.showcase-text {
    padding: 8rem;
}


.fa-instagram:hover {
    color: #D6A6EC;
}

.fa-github:hover {
    color: #1e2125;
}

.a {
    color: #272323;
    text-decoration: none;
}

.a:hover {
    color: #98A8F8;
}

.features-icons {
    padding-top: 5rem;
    padding-bottom: 5rem;
}


.menubar {
    background-color: #98A8F8;
}


.textJustify{
    text-align: justify;
}



@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}


#proImg{
    text-align: center;
}
